# compiled output
/dist
/node_modules

# swagger, tsdocs, logs, tests
/doc
/docs
/test
/logs/*

 project settings
 .git
 .github
 .vscode
 .gitignore
# .eslintignore
# .eslintrc.json

# .prettierrc

# documentation files
README.md 
checkout.gif

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json